/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

nav.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    z-index: 1;
}

.fluid-container{
    margin-top: 70px;
}

#sidebar{
    padding: 20px 30px;
    position: fixed;
    top: 70;
    left: 0;
    height: 100%;
    color: #eee;
    background-color: #222;
}

#content{
    margin-top: 50px;
    margin-left: 400px;
}
.room-name{
    font-size: 50px;
    margin-bottom: 20px;
}
#chatroom{ 
    padding: 20px;
    width: 100%;
    overflow: scroll;
    line-height: 40px;
    font-size: 20px;
    border-radius:5px;

}
.btn-list{
    margin: 20px 0 20px;
}
.btn-list a:hover{
    color: #eee;
}

.message{
        padding: 5px 10px 5px;
        border-bottom: 1px solid #aaa;
}


.input{
    margin-left: 20px;
    line-height: 30px;
    font-size: 20px;
}
